<nav class="uk-navbar-container">
        <div class="uk-navbar-left">
            <!-- <h1 id="scraperTitle">Mongo Scraper</h1> -->
            <ul class="uk-navbar-nav">
                <li>
                    <a href="./index.html">
                        <span class="navText">Home</span>
                    </a>
                </li>
                <li>
                    <a href="./saved.html">
                        <span class="navText">Saved Articles</span>
                    </a>
                </li>
                <li>
                    <button class="uk-button uk-button-danger" id="scrapeNew">
                        <span class="navText">Scrape New Articles</span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="uk-inline">
            <img src="./assets/images/newspaper2.jpeg" alt="Stack of newspapers" id="newsImage">
            <div class="uk-overlay uk-position-top-center" id="scraperTitle">Mongo Scraper</div>
            <div class="uk-overlay uk-position-top-center" id="scraperSecondaryTitle">The NPR Edition</div>
        </div>
        <div class="uk-align-center savedHeadlineList">
        </div>
        <div class="uk-background-top-right uk-background-cover uk-height-medium" style="background-image: url(./assets/images/dust_scratches.png);"></div>
    </div>