body {
    background-image: url("../images/dust_scratches.png");
    background-color: grey;
    background-repeat: repeat;
}

#scrapeNew {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}

#scraperTitle {
    font-weight: bold;
    color: white;
    font-size: 70px;
}

#scraperSecondaryTitle {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 85px;
}

.headlineList {
    width: 98%;
}

.headline {
    background-color: #397eee;
}

.headlineTitle {
    font-weight: bold;
    padding: 30px;
    color: white;
    /* background-color: #397eee; */
    text-shadow: 1px 1px 6px black;
}

.linkText {
    color: white;
}

.linkText:hover {
    color: 	#C2DFFF;
    text-decoration: none;
}

.description {
    margin-top: -30px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.saveButton {
    background-color: #b5ee39;
    color: black;
    padding: 100px;
}

.saveButtonText {
    text-shadow: 1px 1px 2px black;
    color: white;
    font-weight: bold;
}