body {
    background-image: url("../images/dust_scratches.png");
    background-color: grey;
    background-repeat: repeat;
}

#scrapeNew {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}

#scraperTitle {
    font-weight: bold;
    color: white;
    font-size: 70px;
}

#scraperSecondaryTitle {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 85px;
}

.test {
    /* border: 5px solid #646E33; */
    width: 98%;
    /* border-radius: 5px; */
}

.headlineTitle {
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: #397eee;
    text-shadow: 1px 1px 6px black;
    /* width: 90%; */
    /* margin-left: 20px; */
}

.descriptionParagraph {
    /* width: 90%; */
    margin-top: -30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    background-color: white;
}

.saveButton {
    background-color: #b5ee39;
    color: black;
}

.saveButtonText {
    /* color: #696969; */
    text-shadow: 1px 1px 4px black;
}